<div class="container mt-4">
  <h2>Actualizar Producto</h2>
  <!-- Formulario para actualizar producto -->
  <div>
    Título: <input type="text" id="title" name="title" value="{{product.title}}" class="form-control mb-3"><br>
    Descripción: <input type="text" id="description" name="description" value="{{product.description}}" class="form-control mb-3"><br>
    Precio: <input type="number" id="price" name="price" value="{{product.price}}" class="form-control mb-3"><br>
    Imagen (URL): <input type="text" id="thumbnail" name="thumbnail" value="{{product.thumbnails}}" class="form-control mb-3"><br>
    Código: <input type="text" id="code" name="code" value="{{product.code}}" class="form-control mb-3"><br>
    Stock: <input type="number" id="stock" name="stock" value="{{product.stock}}" class="form-control mb-3"><br>
    Categoría: <input type="text" id="category" name="category" value="{{product.category}}" class="form-control mb-3"><br>
    <button class="btn btn-primary" onclick="updateProduct('{{product._id}}')">Actualizar</button>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  function updateProduct() {
    const productId = "{{product.id}}";

    fetch(`/api/products/${productId}`, {
      method: 'PUT',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        title: document.getElementById('title').value,
        description: document.getElementById('description').value,
        price: parseFloat(document.getElementById('price').value),
        thumbnails: [document.getElementById('thumbnail').value],
        code: document.getElementById('code').value,
        stock: parseInt(document.getElementById('stock').value, 10),
        category: document.getElementById('category').value
      })
    })
    .then(response => {
      if (!response.ok) {
        return response.json().then(err => { throw new Error(err.error || "Error desconocido"); });
      }
      return response.json();
    })
    .then(data => {
      Swal.fire({
        icon: 'success',
        title: 'Producto actualizado',
        text: 'El producto se ha actualizado correctamente.',
        confirmButtonText: 'Aceptar'
      }).then(() => {
        window.location.href = '/products';
      });
    })
    .catch(error => {
      console.error('Error:', error);
      Swal.fire({
        icon: 'error',
        title: 'Error',
        text: error.message,
        confirmButtonText: 'Aceptar'
      });
    });
  }
</script>
